click
einops
fiona
ipdb
ipython
jupyter
line_profiler
matplotlib
numpy
pandas
pillow
plotly
pytest
pytorch-msssim
requests
retrying
scikit-image
scikit-learn
scipy
seaborn
six
tensorboardX
tensorflow
torch
torchvision
tornado
tqdm