einops==0.8.1
matplotlib==3.10.3
numpy==2.2.6
pytorch_msssim==1.0.0
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
skimage==0.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.7.0
tqdm==4.66.4
